@model HOT1.Models.DistanceModel

<h1>Distance Conversion Result</h1>

<p>@Model.Inches:F2 inches is @Model.Centimeters:F2 centimeters</p>

<a asp-action="Index" class="btn btn-secondary">Convert Another</a>
