@{
    ViewData["Title"] = "About - FinalProjCH2";
}

<h1>About This Project</h1>
<p>
    This web application is being built as a semester-long project using ASP.NET Core MVC.
    It will demonstrate database integration, responsive design, authentication, and more.
</p>
