@{
    ViewData["Title"] = "Contact - FinalProjCH2";
}

<h1>Contact</h1>
<p>
    For any questions about this project, please contact the developer:
</p>
<ul>
    <li><strong>Name:</strong> Alex Huckleba</li>
    <li><strong>Email:</strong> alexhuckleba2003@gmail.com</li>
</ul>
